* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header {
  height: 50vh;
  background-color: green;
}

html {
  font-size: 62.5%;
}

header>h1 {
  text-align: center;

}

.success {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

main {
  padding: 0 30px;
}

img {
  width: 100%;
}

.section1 {
  text-align: center;
  margin: 20vh 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parent>div {
  margin-bottom: 5vh;
  padding-right: 40%;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
}

.div1>img {
  width: 5%;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 2 / 1 / 3 / 2;
}

.div4 {
  grid-area: 2 / 2 / 3 / 3;
}

.gallery {
  display: flex;
  margin-top: 5vh;
}

.images {
  width: 90%;
}

.pillar {
  height: 80vh;
  width: 5%;
  background: grey;
}

.product1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 2% 10% 2%;
}

.product2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  margin: 0 2% 0 2%;
}